@model Order
@{
    var total = @Model.Lines.Sum(cartLine => cartLine.Product.ProductPrice * cartLine.Quantity);
}

<div class="row shadow my-3">
    <div class="col-md-3 border-1 border-dark p-3 bg-light shadow">
        <h5 class="display-5 text-center">
            <i class="fa fa-address-book text-warning"></i>
            <br />
            @Model?.Name
        </h5>
        <p><strong>Line1</strong>: @Model?.Line1</p>
        <p><strong>Line2</strong>: @Model?.Line2</p>
        <p><strong>City</strong>: @Model?.City</p>
        <p class="rounded-2 p-3">
            <span class="bg-danger rounded-pill text-light p-2">Shipped</span>
            <span class="bg-success rounded-pill text-light p-2">@(Model.OrderShipped ? "Completed" : "In Progress")</span>
        </p>
    </div>
    <div class="col-md-9">
        <h6 class="display-6 mt-3 text-center">
            Cart
        </h6>
        <ul class="list-group">
            @foreach (var cartItem in Model?.Lines)
            {
                <li class="list-group-item d-flex justify-content-between brand">
                    @cartItem.Product.ProductName
                    <b>@cartItem.Quantity * @cartItem.Product.ProductPrice.ToString("")
                        = @((cartItem.Quantity * cartItem.Product.ProductPrice).ToString(""))
                    </b>
                </li>
            }
            <li class="list-group-item d-flex justify-content-between text-danger">
                <strong>Total Amount</strong>
                <b>@total.ToString("c")</b>
            </li>
        </ul>
        <div class="text-center mt-2 p-2">
            <form method="post" asp-action="CompleteOrder">
                <input type="hidden" name="id" value="@Model.OrderId" />
                <button type="submit" class="btn btn-primary rounded-pill" disabled="@Model?.OrderShipped">
                    Complete
                </button>
            </form>
        </div>
    </div>
</div>