@page "/cart"
@model CartModel

<div>
    <div class="text-center display-6">
        Cart
    </div>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart?.Lines ?? Enumerable.Empty<CartLine>())
            {
                <tr>
                    <td>@line.Product.ProductName</td>
                    <td>@line.Quantity</td>
                    <td>@line.Product.ProductPrice.ToString("c")</td>
                    <td>@((@line.Product.ProductPrice * line.Quantity).ToString("c"))</td>
                    <td>
                        <form method="post" asp-page-handler="Remove">
                            <input type="hidden" name="id" value="@line.Product.ProductId" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn rounded-pill btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right"><strong>Total Amount:</strong></td>
                <td class="text-right text-success">
                    <strong>@Model.Cart?.CalculateTotalCartValue().ToString("c")</strong>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-center my-3">
        <div class="btn-group">
            <a class="btn rounded-pill text-light" style="background-color:	rgb(0, 97, 239);" href="@Model?.ReturnUrl">Continue shopping</a>
            <a class="btn rounded-pill text-light" style="background-color: rgb(255, 126, 29); margin-left: 10px" asp-action="Checkout" asp-controller="Order">Checkout</a>
        </div>
    </div>
</div>
